################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Pegasus/Pegasus.DataStore/obj/Debug
/src/Pegasus/Pegasus.DataStore/bin/Debug
/src/Pegasus/packages
/src/Pegasus/Pegasus.Web/bin/Debug/net452/win7-x86
/src/Pegasus/Pegasus.Web/obj
/src/Pegasus/Pegasus.Test/bin/Debug
/src/Pegasus/Pegasus.Test/obj/Debug
/src/Pegasus/.vs/Pegasus/v15/.suo
/src/Pegasus/Pegasus.Test/obj/Release/CoreCompileInputs.cache
/src/Pegasus/Pegasus.DataStore/obj/Release/CoreCompileInputs.cache
/.vs/slnx.sqlite
/src/Pegasus/Pegasus.WebJob/bin/Debug
/src/Pegasus/Pegasus.WebJob/obj
